.section-notes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.section-notes > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: flex-end;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border: 0;
}

.section-notes > button:hover{
    transform: scale(1.1);
}

#btn-disabled{
    cursor: not-allowed;
}